/* Body styling */
body {
     
    background:
    color: #98fb98;
    font-family: Helvetica, Arial;
    font-size: 35px;
    font-weight: 300;
    line-height: 1.65em;
    margin: 0 auto;
    max-width: 960px
    padding: 40px 10px;
}


/* Logo styling */
.logo{
    width: 100%;
}

.logo img {
    display: center;
    margin: 0 auto;
}



/* Game Directions */
.description  {
    text-align: center;
    margin: 80px auto 40px;
}



/* Submit Button, Columns, Questions, and Inputs */
form input [type=submit] {
    background: #f5f5f5
    border: 0;
    border-radius: 6px;
    color: #fffafa;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto 60px;
    padding: 1em 2em;
    text-align: center;
}

.bucket {
    display: inline-block;
    float: none;
    margin-bottom: 40px;
    width: 100%;
}

.choice-bucket{
    display: inline-block;
    float: none;
    margin: 0;
    padding: 0;
    width: 33.333333%;
}

.choice-bucket input {
    border: 0;
    border-radius: 6px;
    color: 
    font-size: 18px;
    margin: 15px 4%;
    outline: 0;
    padding: 16px 0;
    text-indent: 20px;
    width: 92%;
}

.highlight {
    font-size: 18px;
    line-height: 24px;
    margin-left: 30px;
    opacity: .8;
}



/* Answer Div */
#answers {
    margin: 60px 0;
    background: #fff;
    border-radius: 6px;
    color: 
    transition: ls linear ;
}    


