header {
    margin: 1rem 0;
}

.featured {
    height: 500px;
    margin-bottom: 1rem;

}

.profile-info img {
    max-width: 12rem;
    max-height: 12rem;
    margin: -0.5rem 1rem 0 0;
}

.gallery a {
    width: 48%;
    margin: 1%;
    height: 6rem;
    background: #6b8e23;
    display: block;
     
}


@media all and (min-width: 576px) {
    .gallery a {
        width: 31.3%;

   }
}







/* Body styling */
body {
    
 
background-color: #f5deb3
font-family Helvetica, Arial;
font-size: 27px;
font-weight: 300;
line-height: 1.65em;
margin:  0 auto;
padding 40px 10px
}


/* Logo styling */
.logo{
    
    width 100%;
}

/* Logo */
.logo img {
display
margin 0 auto    
    





/*   Game Directions */
.description  {
    text-align: center;
    margin 80px auto 40px;
    max-width  12rem;
    max-height  20rem;
}    
   



/* Submit Button, Columns, Questions, and Inputs */
form input [type=submit] {
    background: #f5deb3
    border 0;
    border-radius: 6px;
    color: #f5deb3;
    cursor: pointer;
    display: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto 60px;
    padding: 1em 2em;
    text-align: center;
} 





